html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    display: flex;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    display: flex;

    justify-content: space-evenly;
}

footer ul li {
    margin-left: -40px;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
}

table {
    border: 1px solid #ccc;
}

td,
th {
    border: 1px solid black;
    width: 150px;
    padding-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}